
.portfolio__box{
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.fleet__container {
  padding-block: 5rem;
}

.fleet__container :is(.section__subheader, .section__header) {
  padding-inline: 1rem;
}

.fleet__container .section__description {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-inline: 1rem;
}

.fleet__wrapper-1, 
.fleet__wrapper-2,
.fleet__wrapper-3{
  margin-bottom: 1rem;
     overflow: hidden;
}

.fleet__wrapper-1,
.fleet__wrapper-2,
.fleet__wrapper-3 {
  overflow-x: hidden;
}

.fleet__images {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fleet__wrapper-1 .fleet__images {
  animation: scroll-left 35s linear infinite;
}

.fleet__wrapper-2 .fleet__images {
    animation: scroll-right 25s linear infinite;
}

.fleet__wrapper-3 .fleet__images {
  animation: scroll-left 15s linear infinite;
}

.fleet__images img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}

.fleet__wrapper-1 .fleet__images img,
.fleet__wrapper-2 .fleet__images img,
.fleet__wrapper-3 .fleet__images img {
  max-width: 200px;
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-50% - 0.5rem));
  }
}


